<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Ver contribuyentes</title>
</head>
<body>
	<table class="table table-bordered">
		<thead class="thead-dark">
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
			<th scope="col">Nit</th>
			<th scope="col">Fecha de Ingreso</th>
			<th scope="col">Importancia</th>

		</thead>
		<th:block th:each="contribuyente,row:${contribuyentes}">
			<tr>
				<th scope="row" th:text="${contribuyente.s_nombre}"/>
				<th scope="row" th:text="${contribuyente.s_apellido}"/>
				<th scope="row" th:text="${contribuyente.s_nit}"/>
				<th scope="row" th:text="${contribuyente.f_fecha_ingreso}"/>
				<th scope="row" th:text="${contribuyente.c_importancia.s_importancia}"/>
			</tr>
		</th:block>	
	</table>
	<br><button class="btn btn-secondary" onclick="window.location.href='/index'">Volver a ingresar un Contribuyente</button>
</body>
</html>