<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Resultado</title>
</head>
<body>
	<h1 class="display-4">Se guardo estudiante con exito</h1>
	<br><button class="btn btn-secondary" onclick="window.location.href='/index'">Volver a ingresar un Contribuyente</button>
</body>
</html>